name: build-release

on:
  push:
    branches:
    - release/*
    tags:
      - '*'
    
jobs:
  build:
     strategy:
       matrix:
          machine: [dreamer_nx,dreamer,inventor]
          
     runs-on: ubuntu-latest
     steps:
      - uses: actions/checkout@v2
      - name: Cache pip
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Cache PlatformIO
        uses: actions/cache@v2
        with:
          path: ~/.platformio
          key: ${{ runner.os }}-${{ hashFiles('**/lockfiles') }}
      - name: Set up Python
        uses: actions/setup-python@v2
      - name: Install PlatformIO
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade platformio
      - name: Check out repository
        uses: actions/checkout@v2   
        with:
          submodules: recursive
      - name: Building ${{ matrix.machine }}
        run:  |
         platformio --version
         ./build_marlin.sh ${{ matrix.machine }}

      - name: Uploading binary ${{ matrix.machine }}
        uses: actions/upload-artifact@v2
        with:
          name: binaries
          path: ./BUILD/*.bin

      - name: Uploading Changelog
        uses: actions/upload-artifact@v2
        with:
          name: assets
          path: CHANGELOG.md


  release:
      needs: build
      runs-on: ubuntu-latest
      steps:
        - name: Download release binaries
          uses: actions/download-artifact@v2
          with:
            name: assets

        - name: Publish release
          uses: docker://antonyurchenko/git-release:latest
          if: startsWith(github.ref, 'refs/tags/')
          with:
            args: |
              .*.bin
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            DRAFT_RELEASE: "true"
            PRE_RELEASE: "true"
            CHANGELOG_FILE: "CHANGELOG.md"
            ALLOW_EMPTY_CHANGELOG: "false"
            ALLOW_TAG_PREFIX: "true"
